.text {
  color: gray !important;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-left: 8px;
  font-size: 15px;
}
.read-or-hide {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-left: 8px;
  margin-top: 10px;
  color:#935073;
}
