.slick-next {
  background: url("../../assets/arrow-green.svg") center center no-repeat !important;
  height: 64px !important;
  width: 64px !important;
  box-shadow: 0 1px 1px 1px lightgray;
  margin-right: -41px;
  border-radius: 59%;
  &::before {
    display: none;
  }
}

.slick-prev {
  background: url("../../assets/arrow-left.svg") center center no-repeat !important;
  height: 64px !important;
  width: 64px !important;
  box-shadow: 0 1px 1px 1px lightgray;
  margin-left: -47px;
  border-radius: 59%;
  &::before {
    display: none;
  }
}
